﻿@{
    ViewBag.Title = "LFA - Lifestyle Fitness and Adventure";
    ViewBag.Description = "Adventure Professionals Group - Being adventurous in epic proportions";
    ViewBag.ContentClasses = "padding-none";
}

<div id="content-header">
    <img src="~/Content/Images/Mountain.jpg" alt="Mountain" />
    <span class="tagline big align-right orange show-for-large-up">being <span class="bigger">adventurous</span><br />
        in <span class="biggest">epic</span> proportions
    </span>
</div>

<div class="row">
    <h3 class="orange padding-top">Discover your LFA</h3>
</div>

<div id="content-panel" class="content-panel">
    <div class="row content">
        <div class="column small-6 medium-3 large-3">
            <a data-target="#content-panel-fitness">
                <img src="http://placehold.it/215x125" alt="fitness" />
                <span>Fitness</span>
            </a>
        </div>
        <div class="column small-6 medium-3 large-3">
            <a data-target="#content-panel-adventure">
                <img src="http://placehold.it/215x125" alt="Adventure" />
                <span>Adventure</span>
            </a>
        </div>
        <div class="column small-6 medium-3 large-3">
            <a data-target="#content-panel-healthy">
                <img src="http://placehold.it/215x125" alt="Healthy" />
                <span>Health</span>
            </a>
        </div>
        <div class="column small-6 medium-3 large-3">
            <a data-target="#content-panel-athletic">
                <img src="http://placehold.it/215x125" alt="Athletic" />
                <span>Athletic</span>
            </a>
        </div>
    </div>
</div>
<div id="content-panel-fitness" class="content-panel">
    <div class="row">
        <div class="column small-6">
            <h4>Fitness</h4>
        </div>
        <div class="column small-6 align-right">
            <a class="button tiny" data-back="">Back</a>
        </div>
    </div>
    <div class="row content">
        <div class="column small-6 medium-3 large-3">
            <a href="~/Fitness/Goals">
                <img src="http://placehold.it/215x125" alt="goals" />
                <span>Goals</span>
            </a>
        </div>
        <div class="column small-6 medium-3 large-3">
            <a href="~/Fitness/Offers">
                <img src="http://placehold.it/215x125" alt="offers" />
                <span>Offers</span>
            </a>
        </div>
        <div class="column small-6 medium-3 large-3">
            <a href="~/Fitness/Trainers">
                <img src="http://placehold.it/215x125" alt="trainers" />
                <span>Trainers</span>
            </a>
        </div>
        <div class="column small-6 medium-3 large-3">
            <a href="~/Fitness/Tips">
                <img src="http://placehold.it/215x125" alt="tips" />
                <span>Tips</span>
            </a>
        </div>
    </div>
</div>
<div id="content-panel-adventure" class="content-panel">
    <div class="row">
        <div class="column small-6">
            <h4>Adventure</h4>
        </div>
        <div class="column small-6 align-right">
            <a class="button tiny" data-back="">Back</a>
        </div>
    </div>
    <div class="row content">
        <div class="column small-6 medium-3 large-3">
            <a href="~/Adventure/Goals">
                <img src="http://placehold.it/215x125" alt="goals" />
                <span>Goals</span>
            </a>
        </div>
        <div class="column small-6 medium-3 large-3">
            <a href="~/Adventure/Offers">
                <img src="http://placehold.it/215x125" alt="offers" />
                <span>Offers</span>
            </a>
        </div>
        <div class="column small-6 medium-3 large-3">
            <a href="~/Adventure/Trainers">
                <img src="http://placehold.it/215x125" alt="trainers" />
                <span>Trainers</span>
            </a>
        </div>
        <div class="column small-6 medium-3 large-3">
            <a href="~/Adventure/Tips">
                <img src="http://placehold.it/215x125" alt="tips" />
                <span>Tips</span>
            </a>
        </div>
    </div>
</div>
<div id="content-panel-healthy" class="content-panel">
    <div class="row">
        <div class="column small-6">
            <h4>Health</h4>
        </div>
        <div class="column small-6 align-right">
            <a class="button tiny" data-back="">Back</a>
        </div>
    </div>
    <div class="row content">
        <div class="column small-6 medium-3 large-3">
            <a href="~/Healthy/Goals">
                <img src="http://placehold.it/215x125" alt="goals" />
                <span>Goals</span>
            </a>
        </div>
        <div class="column small-6 medium-3 large-3">
            <a href="~/Healthy/Offers">
                <img src="http://placehold.it/215x125" alt="offers" />
                <span>Offers</span>
            </a>
        </div>
        <div class="column small-6 medium-3 large-3">
            <a href="~/Healthy/Trainers">
                <img src="http://placehold.it/215x125" alt="trainers" />
                <span>Trainers</span>
            </a>
        </div>
        <div class="column small-6 medium-3 large-3">
            <a href="~/Healthy/Tips">
                <img src="http://placehold.it/215x125" alt="tips" />
                <span>Tips</span>
            </a>
        </div>
    </div>
</div>
<div id="content-panel-athletic" class="content-panel">
    <div class="row">
        <div class="column small-6">
            <h4>Athletic</h4>
        </div>
        <div class="column small-6 align-right">
            <a class="button tiny" data-back="">Back</a>
        </div>
    </div>
    <div class="row content">
        <div class="column small-6 medium-3 large-3">
            <a href="~/Athletic/Goals">
                <img src="http://placehold.it/215x125" alt="goals" />
                <span>Goals</span>
            </a>
        </div>
        <div class="column small-6 medium-3 large-3">
            <a href="~/Athletic/Offers">
                <img src="http://placehold.it/215x125" alt="offers" />
                <span>Offers</span>
            </a>
        </div>
        <div class="column small-6 medium-3 large-3">
            <a href="~/Athletic/Coaches">
                <img src="http://placehold.it/215x125" alt="trainers" />
                <span>Coaches</span>
            </a>
        </div>
        <div class="column small-6 medium-3 large-3">
            <a href="~/Athletic/Tips">
                <img src="http://placehold.it/215x125" alt="tips" />
                <span>Tips</span>
            </a>
        </div>
    </div>
</div>

@section Script {
    <link href="~/Content/Styles/Views/Home/Index.css" rel="stylesheet" />
    <script src="~/Content/Scripts/Views/Home/Index.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            // Configure and load panels on start
            var $panelAll = $('.content-panel').hide();
            var $panelBase = $('#content-panel');

            // Configure the events with data targets
            $panelAll.find('a[data-target]').click(function (e) {
                e.preventDefault();
                $(this).parent().parent().parent().slideUp();
                $($(this).attr('data-target')).slideDown();
            });

            // Configure back buttons
            $panelAll.find('a[data-back]').click(function (e) {
                e.preventDefault();
                $(this).parent().parent().parent().slideUp();
                $panelBase.slideDown();
            });

            // Show starting panel
            $panelBase.slideDown('slow');

        });
    </script>
}