﻿@{
    ViewBag.Title = "Privacy";
}

<div class="row">
    <h2 class="orange">Privacy Policy</h2>
</div>

<div class="row">
    
    <p>
        APG believes in protecting your privacy. Please review our current Privacy Policy below, which also governs your use
        of the App and associated websites, to understand our practices.
    </p>

    <h5>REVIEWS, COMMENTS AND OTHER SUBMISSIONS</h5>
    
    <p>
        We appreciate hearing from you. Please be aware that by submitting content to this App or associated websites by
        electronic mail, postings on this App or otherwise, including any social media websites, photographs, video, questions, 
        comments, suggestions, ideas or the like contained in any submissions (collectively, "Submissions"), you (a) grant APG 
        and its affiliates a nonexclusive, royalty-free, perpetual, transferable, irrevocable and fully sublicesable right to 
        use, reproduce, modify, adapt, translate, distribute, publish, create derivative works from and publicly display and 
        perform such Submissions throughout the world in any media, now known or hereafter devised; and (b) grant APG and its 
        affiliates and sublicensees the right to use the name that you submit in connection with such Submission, if they choose. 
        However, you acknowledge that APG may choose to provide attribution of your comments or reviews (for example, listing your 
        name and hometown on a review that you submit) at our discretion. You further grant APG the right to pursue at law any 
        person or entity that violates your or APG’s rights and the rights of the affiliates that may have been violated in the 
        Submissions by a breach of this Agreement. We take no responsibility and assume no liability for any Submissions posted 
        or submitted by you. If you do not agree to these terms and conditions, do not provide us with any Submissions.
    </p>

    <p>
        You and affiliates are fully responsible for the content of your Submissions, (specifically including, but not limited to, 
        reviews posted to this App). You and affiliates are prohibited from posting or transmitting to or from this App:
    </p>

    <ol type="lower-roman">
        <li>any unlawful, threatening, libelous, defamatory, obscene, pornographic, or other material or content that would violate rights
            of publicity and/or privacy or that would violate any law;</li>
        <li>any commercial material or content (including, but not limited to, solicitation of funds, advertising, or marketing of
            any good or services); and</li>
        <li>any material or content that infringes, misappropriates or violates any copyright, trademark, patent right or other
            proprietary right of any third party</li>
    </ol>

    <p>
        You shall be solely liable for any damages resulting from any violation of the foregoing restrictions, or any other harm resulting
        from your posting of content to this App and associated websites. You acknowledge that APG has the right to control (e.g. use, 
        publish, remove) any content you submit without notice to you. 
    </p>

    <p>
        If you or affiliates believe in good faith that materials hosted by us infringe your copyright, you (or your agent) may send us a 
        written notice that includes the following information:
    </p>

    <ol>
        <li>A clear identification of the copyrighted work you claim was infringed.</li>
        <li>A clear identification of the material you claim is infringing the copyrighted work, and information that
            will allow us to locate that material on the App or associated website, such as a link to the infringing material.</li>
        <li>Your contact information so that we can reply to your complaint, preferably including an email address and telephone number.</li>
        <li>A statement that you have a "good faith belief that the material that is claimed as copyright infringement is
            not authorized by the copyright owner, its agent, or the law."</li>
        <li>A statement that "the information in the notification is accurate, and under penalty of perjury, the complaining party
            is authorized to act on behalf of the owner of an exclusive right that is allegedly infringed."</li>
        <li>The notice must be signed by the person authorized to act on behalf of the owner of an exclusive right
            that is allegedly infringed.</li>
    </ol>

    <p>
        Notices with respect to this App and associated website should be sent to: 
    </p>

    <div class="panel radius">
        <h5>APG, Inc.</h5>
        <p>
            2039 Lake Park Dr. SE. Unit. N<br />
            Smyrna, GA. 30080<br />
            <b>Email:</b>
            <a href="mailto:AdventureProfessionalsGroup@gmail.com">AdventureProfessionalsGroup@gmail.com</a>
            <br />
            <b>Phone:</b>
            404-822-4309 
        </p>
    </div>

    <p>
        We will review and address all notices that comply with the requirements above.
    </p>

    <p>
        We suggest that you consult your legal advisor before filing a notice or counter-notice. Also, be aware that you 
        may be liable for damages if you make a false claim of copyright infringement.
    </p>

    <h5>ACCOUNT TERMINATION</h5>

    <p>
        In accordance with the Digital Millennium Copyright Act ("DMCA") and other applicable law, APG has adopted a policy 
        of terminating, in appropriate circumstances and at APG’s sole discretion, subscribers or account holders who are 
        deemed to be repeat infringers. APG may also at its sole discretion limit access to the Site and/or terminate the 
        accounts of any users who infringe any intellectual property rights of others, whether or not there is any repeat 
        infringement. If you believe that an account holder or subscriber is a repeat infringer, please provide information 
        sufficient for us to verify that the account holder or subscriber is a repeat infringer when filing your notice.
    </p>

    <h5>COUNTER NOTIFICATION</h5>

    <p>
        APG does not tolerate false claims of copyright infringement. If you believe that content that you posted to our app 
        and/or site was mistakenly removed due to a false claim of copyright infringement, then you can submit a DMCA 
        Counter-Notice. When we receive a properly completed counter notification, we will forward it to the complaining rights 
        owner. In the U.S., the DMCA allows us to restore your content if the rights owner does not file a court action against 
        you within 10 business days of receiving the copy of your counter-notice.
    </p>

    <p>
        To file a counter notification with us, you must provide a written communication by fax or regular mail that sets forth 
        the items specified below. Please note that you will be liable for damages (including costs and attorneys' fees) if you 
        materially misrepresent that content is not infringing the copyrights of others. If you are not sure whether certain material 
        infringes the copyrights of others, then we suggest that you first seek legal counsel.
    </p>

    <p>
        To expedite our ability to process your counter notification, please send us your notification using the following format:
    </p>

    <ol>
        <li>Identify the specific content that was removed or disabled by mistake. Indicate where that content appeared on
            APG’s site. Please provide the URL address if possible.</li>
        <li>Provide your name, mailing address, telephone number, email address, and a statement that you consent to the 
            jurisdiction of Federal District Court for the judicial district in which your address is located, or if your 
            address is outside of the United States, for any judicial district in which APG, L.P. may be found, and that 
            you will accept service of process from the party who reported your content, or that party’s agent.</li>
        <li>Include the following statement: "I swear, under penalty of perjury, that I have a good faith belief that 
            the content identified above was removed or disabled as a result of a mistake or misidentification.”</li>
        <li>Sign the paper.</li>
        <li>Send the written communication to the following address:</li>
    </ol>

    <div class="panel radius">
        <h5>APG, Inc.</h5>
        <p>
            Attn: IP/Trademark Legal Dept., DMCA Complaints<br />
            2039 Lake Park Dr. SE. Unit. N<br />
            Smyrna, GA. 30080
        </p>
    </div>
 
</div>
