﻿@{
    ViewBag.Title = "Terms and Conditions";
}

<div class="row">
    <h2 class="orange">Terms and Conditions</h2>
</div>

<div class="row">

    <h5>AGREEMENT BETWEEN CUSTOMER AND ADVENTURE PROFESSIONALS GROUP, INC. (here on out known as APG)</h5>

    <p>
        Welcome to the APG’s app Lifestyle Fitness and Adventure app (the "app"). This App is provided solely to assist 
        customers in gathering information, determining the availability of goods and services, making legitimate transacting
        business with trainers, advisors, coaches, and instructors (here on out referred to as affiliates) in the adventure, 
        fitness, health, and/or athletic fields. The terms "we", "us", "our" and "App" refer to APG, Inc., a Georgia corporation.
        The term "you" refers to the consumer visiting the App or any related websites or printed material that associate(s)
        with APG and/or affiliates for the use of service or goods through us on this App or any other association. 
    </p>

    <p>
        This app is offered to you conditioned upon your acceptance without modification of all the terms, conditions, and 
        notices set forth below (collectively, the "Agreement"). By accessing or using this App in any manner, you agree to be 
        bound by the Agreement. Please read the Agreement carefully. If you do not accept all of these terms and conditions, do 
        not use this App. Be sure to return to this page periodically to review the most current version of the Agreement. We 
        reserve the right at any time, at our sole discretion, to change or otherwise modify the Agreement without prior notice, 
        and your continued access or use of this App signifies your acceptance of the updated or modified Agreement.
    </p>

    <h5>USE OF THE APP</h5>

    <p>
        As a condition of your use of this Website, you warrant that:
    </p>

    <ol>
        <li>you are at least 13 years of age,</li>
        <li>you possess the legal authority to create a binding legal obligation,</li>
        <li>you will use this App and/or website in accordance with this Agreement,</li>
        <li>you will only use this APP to make legitimate commerce for you or for another person for whom you are legally authorized to act,</li>
        <li>all information supplied by you on this APP is provided by affiliates</li>
        <li>all services and goods that are used are subject to the discretion of affiliates,</li>
        <li>all affiliates have the right to accept or deny services and/or goods for safety reason, and</li>
        <li>if you have an account on this APP, you will safeguard your account information and will supervise and be completely
            responsible for any use of your account by anyone other than you. We retain the right at our sole discretion to deny access to anyone to this APP and the services we offer, at any time and for any reason, including, but not limited to, for violation of this Agreement.</li>
    </ol>

    <h5>PROHIBITED ACTIVITIES</h5>

    <p>
        The content and information on this App and related associated websites (including, but not services, goods, and/or content),
        as well as the infrastructure used to provide such content and information, is proprietary to us and/or our affiliates,
        suppliers and providers. While you may make limited copies (and related documents) for services or goods attended to use
        through this App, you agree not to otherwise modify, copy, distribute, transmit, display, perform, reproduce, publish,
        license, create derivative works from, transfer, or sell or re-sell any information, software, products, or services 
        obtained from or through this App unless you have written permission from APG or Affiliates; unless otherwise the App
        and/or website provides opportunity to share.  Additionally, you agree not to:
    </p>

    <ol>
        <li>use this App or its contents for any commercial purpose;</li>
        <li>make any speculative, false, or fraudulent reservation or any reservation in anticipation of demand of services
            or goods provided by Affiliates;</li>
        <li>access, monitor or copy any content or information of this App using any robot, spider, scraper or other automated 
            means or any manual process for any purpose without our express written permission;</li>
        <li>violate the restrictions in any robot exclusion headers on this App or bypass or circumvent other measures employed 
            to prevent or limit access to this App;</li>
        <li>take any action that imposes, or may impose, in our discretion, an unreasonable or disproportionately large load 
            on our infrastructure;</li>
        <li>deep-link to any portion of this App for any purpose without our express written permission; or</li>
        <li>"frame", "mirror" or otherwise incorporate any part of this Website into any other website without our prior
            written authorization.</li>
    </ol>

    <p>
        Without limitation, any speculative, false, or fraudulent reservation or any reservation in anticipation of demand is prohibited.
        You agree that the services reservations facilities of this App and associated websites shall be used only to make legitimate business or purchases for you or for another person for whom you are legally authorized to act. You understand that overuse, suspicious activity, signs of fraud, or abuse of the services reservation facilities of this app and related website(s) may result in APG cancelling any bookings associated with your name, email address, or account, and closing any associated APG accounts. If you have conducted any fraudulent activity, APG reserves the right to take any necessary legal action and you may be liable for monetary losses to APG and affiliates that are associated, including litigation costs and damages. To contest the cancellation of a booking, or freezing or closure of an account, please contact customer service.
    </p>

    <h5>SUPPLIER RULES AND RESTRICTIONS</h5>

    <p>
        Separate terms and conditions will apply to your reservation and purchase of related goods and services that you 
        select. Please read these separate terms and conditions carefully that are provided by you from the affiliates. 
        You agree to abide by the terms and conditions of purchase imposed by any affiliates with whom you elect to deal,
        including, but not limited to, payment of all amounts when due and compliance with the affiliates’ rules and
        restrictions regarding availability and use of products, or services. You acknowledge that some third-party providers
        offering certain services and/or activities may require you to sign their liability waiver prior to participating
        in the service and/or activity they offer. You understand that any violation of any such supplier's rules and restrictions 
        may result in cancellation of your reservation(s), in your being denied access to the applicable product(s) or service(s),
        in your forfeiting any monies paid for such reservation(s), and/or in our debiting your account for any costs we incur 
        as a result of such violation.
    </p>

    <h5>INDEMNIFICATION</h5>

    <p>
        Subscribe users shall fully indemnify, hold harmless and defend www.discoverlfa.com and Adventure Professionals Group INC.
        and its directors, officers, employees, agents, stockholders and Affiliates (collectively, ―Indemnified Parties) from and
        against all claims, actions, suits, demands, damages, liabilities, obligations, losses, settlements, judgments, costs and
        expenses (including without limitation reasonable attorney‘s fees and costs), whether or not involving a third party claim,
        which arise out of, relate to or result from (1) any breach of any representation or warranty of Company contained in this
        Agreement, (2) any breach of any covenant or other obligation or duty of Company under this Agreement or under applicable
        law, (3) violations and infringing of copyright, trademark, and/or to include all protected property (4) bodily harm and/or 
        death resulted from your or revolved from your practice to include advise, direction, equipment, supervision, and/or all 
        levels of interaction to consumers that led to bodily harm and/or death to include any of employees or affiliates who 
        represent your overall practice (5) negligence, (6) wrongful or unlawful acts, (7) other contributing acts or omissions 
        of indemnified party, (8) consequential and related damages, (9) general limitations on liability, and (10) other exclusions 
        relevant to the contract. , in each case whether or not caused by the negligence of www.discoverlfa.com or any other 
        Indemnified Party and whether or not the relevant Claim has merit.
    </p>

    <p>
        The indemnified party shall promptly notify the indemnifying party of any Claim for which indemnification is sought,
        following actual knowledge of such Claim, provided however that the failure to give such notice shall not relieve the 
        indemnifying party of its obligations hereunder except to the extent that such indemnifying party is materially prejudiced 
        by such failure. In the event that any third party Claim is brought, the indemnifying party shall [have the right and 
        option to] undertake and control of the defense of such action with counsel of its choice, provided however that (i) the 
        indemnified party at its own expense may participate and appear on an equal footing with the indemnifying party in the 
        defense of any such claims, (ii) the indemnified party may undertake and control of such defense in the event of the 
        material failure of the indemnifying party to undertake and control the same; and (iii) the defense of any Claim relating 
        to the Intellectual Property Rights of the effected entity or its affiliates or licensors and any related counterclaims 
        shall be solely controlled by Adventure Professionals Group INC. or a appointee of APG INC. with counsel of its choice. 
        The indemnified party [A party] shall not concede or settle or compromise any Claim without the prior written approval 
        of the indemnifying party [other party] (which approval shall not be unreasonably withheld), [unless such concession 
        or settlement or compromise includes a full and unconditional release of the indemnifying [other] party and any applicable 
        Related Persons from all liabilities in respect of such Claim.
    </p>

    <p>
        All unsubscribe users that uses www.discoverlfa.com agree to use named website at your own risks. Www.discoverLFA.com does 
        not endorse or approve any of the subscribe users practice,  advice,  challenges,  offers, and/or all other displayed content 
        on subscribe user's page. Unsubscribe users agree to said indemnification clause mentioned above.
    </p>

</div>
