﻿@model LFA.Library.Models.LaunchReminderModel
@{
    ViewBag.Title = "Adventure in Progress";
}

<div class="row">
    <h2 class="orange">Adventure in Progress</h2>
</div>

@if (ViewBag.ErrorMessage != null) {
    <div class="row alert-box alert">
        @ViewBag.ErrorMessage
    </div>
}

<div class="row">
    <p>
        We're sorry, but we are still building our adventure. If you would like to be notified when we launch,
        please fill out the form below.
    </p>
</div>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()

        <div class="row">
            <div class="large-4 columns">
                @Html.LabelFor(m => m.FirstName)
                @Html.ValidationMessageFor(m => m.FirstName)
                @Html.TextBoxFor(m => m.FirstName, new { placeholder = "your first name", @class = "focus", maxlength = 100 })
            </div>
            <div class="large-4 columns">
                @Html.LabelFor(m => m.LastName)
                @Html.ValidationMessageFor(m => m.LastName)
                @Html.TextBoxFor(m => m.LastName, new { placeholder = "your last name", maxlength = 100 })
            </div>
            <div class="large-4 columns">
                @Html.LabelFor(m => m.Email)
                @Html.ValidationMessageFor(m => m.Email)
                @Html.TextBoxFor(m => m.Email, new { placeholder = "your email address", maxlength = 500 })
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns" style="vertical-align: bottom">
                <input type="submit" class="button small" value="Signup" />
            </div>
        </div>
}
