﻿@{
    ViewBag.Title = "Thank You";
}

<div class="row">
    <h2 class="orange">Thank You!</h2>
</div>
<div class="row">
    <p>
        Thank you for signing up! We will let you know once the site is live.
    </p>
</div>
