﻿@model LFA.Library.Models.AccountModel

@{
    ViewBag.Title = "Change Password";
}

<div class="row">
    <h2 class="orange">Change Password</h2>
</div>

<div class="row">
    <p>
        Enter and confirm your new password below.
    </p>
</div>

@if (ViewBag.ErrorMessage != null) {
    <div class="row alert-box alert">
        @ViewBag.ErrorMessage
    </div>
}

@if (ViewBag.SuccessMessage != null) {
    <div class="row alert-box success">
        @ViewBag.SuccessMessage
    </div>
}

@using (Html.BeginForm()) {
    @Html.HiddenFor(m => m.AccountID)
    @Html.HiddenFor(m => m.Email)
    @Html.HiddenFor(m => m.FirstName)
    @Html.HiddenFor(m => m.LastName)
    @Html.AntiForgeryToken()
    
        <div class="row">
            <div class="large-6 columns">
                @Html.LabelFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
                @Html.PasswordFor(m => m.Password, new { placeholder = "your new password", maxlength = 50 })
            </div>
            <div class="large-6 columns">
                @Html.Label("Confirm password")
                @Html.ValidationMessage("passwordConfirm")
                @Html.Password("passwordConfirm", null, new { placeholder = "confirm password", maxlength = 50 })
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns" style="vertical-align: bottom">
                <input type="submit" class="button small" value="Change Password" />
            </div>
        </div>
}
