﻿@model LFA.Library.Models.AccountModel

@{
    ViewBag.Title = "Welcome Back!";
}

<div class="row">
    <h2 class="orange">Login</h2>
</div>
<div class="row">
    <p>
        Welcome back! Please enter your email and password below.
    </p>
</div>

@if (ViewBag.ErrorMessage != null) {
    <div class="row alert-box alert">
        @ViewBag.ErrorMessage
    </div>
}

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    
        <div class="row">
            <div class="small-12 medium-6 end columns">
                @Html.LabelFor(m => m.Email)
                @Html.ValidationMessageFor(m => m.Email)
                @Html.TextBoxFor(m => m.Email, new { placeholder = "your email address", @class = "focus", maxlength = 500 })
            </div>
        </div>
        <div class="row">
            <div class="small-12 medium-6 end columns">
                @Html.LabelFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
                @Html.PasswordFor(m => m.Password, new { placeholder = "your password", maxlength = 50 })
            </div>
        </div>
        <div class="row">
            <div class="small-12 columns" style="vertical-align: bottom">
                <input type="submit" class="button small" value="Login" />
            </div>
        </div>
}
