﻿@model LFA.Library.Models.AccountModel

@{
    ViewBag.Title = "Join LFA";
}

<div class="row">
    <h2 class="orange">Join LFA</h2>
</div>
<div class="row">
    <p>
        Disover LFA by joining today!
    </p>
</div>

@if (ViewBag.ErrorMessage != null) {
    <div class="row alert-box alert">
        @ViewBag.ErrorMessage
    </div>
}

@using (Html.BeginForm()) {
    @Html.HiddenFor(m => m.AccountID)
    @Html.AntiForgeryToken()

        <div class="row">
            <div class="large-4 columns">
                @Html.LabelFor(m => m.FirstName)
                @Html.ValidationMessageFor(m => m.FirstName)
                @Html.TextBoxFor(m => m.FirstName, new { placeholder = "your first name", @class = "focus", maxlength = 100 })
            </div>
            <div class="large-4 columns">
                @Html.LabelFor(m => m.LastName)
                @Html.ValidationMessageFor(m => m.LastName)
                @Html.TextBoxFor(m => m.LastName, new { placeholder = "your last name", maxlength = 100 })
            </div>
            <div class="large-4 columns">
                @Html.LabelFor(m => m.Email)
                @Html.ValidationMessageFor(m => m.Email)
                @Html.TextBoxFor(m => m.Email, new { placeholder = "your email address", maxlength = 500 })
            </div>
        </div>
        <div class="row">
            <div class="large-6 columns">
                @Html.LabelFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
                @Html.PasswordFor(m => m.Password, new { placeholder = "your password", maxlength = 50 })
            </div>
            <div class="large-6 columns">
                @Html.Label("Confirm password")
                @Html.ValidationMessage("passwordConfirm")
                @Html.Password("passwordConfirm", null, new { placeholder = "confirm password", maxlength = 50 })
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns" style="vertical-align: bottom">
                <input type="submit" class="button small" value="Join" />
            </div>
        </div>
}
