﻿@{
    ViewBag.Title = "Thank You";
}

<div class="row">
    <h2 class="orange">Thank You!</h2>
</div>
<div class="row">
    <p>
        Thank you for creating your account. Please check your email to confirm your account!
    </p>
</div>
