﻿@model LFA.Library.Models.AccountModel

@{
    ViewBag.Title = "Update Profile";
}

<div class="row">
    <h2 class="orange">Update Profile</h2>
</div>

<div class="row">
    <p>
        Update your account profile below.
    </p>
</div>

@if (ViewBag.ErrorMessage != null) {
    <div class="row alert-box alert">
        @ViewBag.ErrorMessage
    </div>
}

@if (ViewBag.SuccessMessage != null) {
    <div class="row alert-box success">
        @ViewBag.SuccessMessage
    </div>
}

@using (Html.BeginForm()) {
    @Html.HiddenFor(m => m.AccountID)
    @Html.HiddenFor(m => m.Email)
    @Html.HiddenFor(m => m.Password)
    @Html.AntiForgeryToken()

        <div class="row">
            <div class="large-6 columns">
                @Html.LabelFor(m => m.FirstName)
                @Html.ValidationMessageFor(m => m.FirstName)
                @Html.TextBoxFor(m => m.FirstName, new { placeholder = "your first name", @class = "focus", maxlength = 100 })
            </div>
            <div class="large-6 columns">
                @Html.LabelFor(m => m.LastName)
                @Html.ValidationMessageFor(m => m.LastName)
                @Html.TextBoxFor(m => m.LastName, new { placeholder = "your last name", maxlength = 100 })
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns" style="vertical-align: bottom">
                <input type="submit" class="button small" value="Update Profile" />
            </div>
        </div>
}
