﻿@{
    ViewBag.Title = "Verification Error";
}

<div class="row">
    <h2 class="orange">Unable to Verify</h2>
</div>
<div class="row">
    <p>
        We're sorry, but we are not able to verify your account. If the problem persists, please contact us.
    </p>
</div>
<div class="row">
    <p>
        @Html.ActionLink("Contact Us", "Contact", "Support", null, new { @class = "button small" })
    </p>
</div>