﻿@{
    ViewBag.Title = "Thank You";
}

<div class="row">
    <h2 class="orange">Thank You!</h2>
</div>
<div class="row">
    <p>
        Thank you for verifying your account! Please click the button below to log into the site.
    </p>
</div>
<div class="row">
    <p>
        @Html.ActionLink("Go to login", "Login", "Account", null, new { @class = "button small" })
    </p>
</div>
