﻿#content-header {
    border-bottom: 1px solid #555;
}

    #content-header span.tagline {
        position: absolute;
        right: 10px;
        top: 65px;
        color: #ff6a00;
        line-height: 1.5em;
    }

    #content-header img {
        width: 100%;
    }

.content-panel {
    margin-top: 20px;
}

    .content-panel > div.content column {
        margin-top: 30px;
    }

    .content-panel > div.content img {
        display: block;
        border: #aaa 1px solid;
        width: 100%;
        height: auto;
    }

    .content-panel > div.content a {
        background-color: #ff6a00;
        display: inline-block;
        padding-bottom: 10px;
        margin-bottom: 15px;
    }

        .content-panel > div.content a:hover {
            background-color: #0B516D;
        }

        .content-panel > div.content a img {
            margin-bottom: 10px;
        }

        .content-panel > div.content a span {
            color: #fff;
            margin: 15px;
        }
