﻿
@font-face {
    font-family: 'QuickSand';
    src: url('/Content/Fonts/Quicksand/quicksand-regular-webfont.eot');
    src: url('/Content/Fonts/Quicksand/quicksand-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/Content/Fonts/Quicksand/quicksand-regular-webfont.woff') format('woff'),
         url('/Content/Fonts/Quicksand/quicksand-regular-webfont.ttf') format('truetype'),
         url('/Content/Fonts/Quicksand/quicksand-regular-webfont.svg#quicksandregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'QuickSand';
    src: url('/Content/Fonts/Quicksand/quicksand-bold-webfont.eot');
    src: url('/Content/Fonts/Quicksand/quicksand-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/Content/Fonts/Quicksand/quicksand-bold-webfont.woff') format('woff'),
         url('/Content/Fonts/Quicksand/quicksand-bold-webfont.ttf') format('truetype'),
         url('/Content/Fonts/Quicksand/quicksand-bold-webfont.svg#quicksandbold') format('svg');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'QuickSandLight';
    src: url('/Content/Fonts/Quicksand/quicksand-light-webfont.eot');
    src: url('/Content/Fonts/Quicksand/quicksand-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/Content/Fonts/Quicksand/quicksand-light-webfont.woff') format('woff'),
         url('/Content/Fonts/Quicksand/quicksand-light-webfont.ttf') format('truetype'),
         url('/Content/Fonts/Quicksand/quicksand-light-webfont.svg#quicksandlight') format('svg');
    font-weight: normal;
    font-style: normal;
}