﻿@using LFA.Library.Models
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title</title>
    <meta name="description" content="@ViewBag.Description">
    <meta name="keywords" content="Adventure Professionals Group, APG, LFA, Lifestyle Fitness and Adventure">
    <meta name="author" content="Adventure Professionals Group">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--[if lt IE 9]><script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script><![endif]-->
    <link rel="stylesheet" href="~/Content/Styles/fonts.css" />
    <link rel="stylesheet" href="~/Content/Styles/normalize.css" />
    <link rel="stylesheet" href="~/Content/Styles/foundation.css" />
    <link rel="stylesheet" href="~/bundles/css/common">
    <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>
</head>
<body>

    <!-- Header/nav menu -->
    <header>
        <nav class="top-bar" data-topbar="">
            <ul class="title-area padding-none">
                <li class="name">
                    <h1>@Html.ActionLink("LFA", "Index", "Home")</h1>
                </li>
                <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
            </ul>
            <section class="top-bar-section">
                
                <!-- Navigation -->
                <ul class="right show-for-large-up">
                    @foreach (MenuItemModel item in ((MenuItemModel[]) ViewBag.Menu).Where(m => m.ParentID == null))
                    {
                        @Html.Partial("_Menu", item)
                    }
                </ul>
                <ul class="right hide-for-large-up">
                    @foreach (MenuItemModel item in ((MenuItemModel[]) ViewBag.Menu).Where(m => m.ParentID == null))
                    {
                        @Html.Partial("_Menu", item)
                    }
                </ul>

            </section>
        </nav>
    </header>

    <!-- Content -->
    <div class="content @(ViewBag.ContentClasses ?? "")">
        @RenderBody()
    </div>

    <!-- Footer -->
    <footer class="row align-right padding">
        <span class="small">
            <a href="https://www.facebook.com/YourLFA">Adventure Professionals Group</a>
        </span>
        <span class="small">
            &copy; @DateTime.Now.Year
            &middot;
            @Html.ActionLink("Privacy", "Privacy", "Home", null, null)
            &middot;
            @Html.ActionLink("Terms", "Terms", "Home", null, null)
        </span>
    </footer>
    <!-- /Footer -->

    <!-- Configure client scripting -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="~/bundles/js/plugins"></script>
    <script>
        $(document).foundation();
    </script>
    @RenderSection("Script", false)

    <!-- Analytics -->
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-6154792-4', 'lfa.simplelinksolutions.com');
        ga('send', 'pageview');
    </script>

</body>
</html>
