﻿@model LFA.Library.Models.MenuItemModel

@if (string.IsNullOrEmpty(Model.Url) == false)
{
    <a href="@Model.Url" target="_blank">@Model.Text</a>
}
else if (string.IsNullOrEmpty(Model.Controller) == false
    && string.IsNullOrEmpty(Model.Action) == false)
{
    @Html.ActionLink(Model.Text, Model.Action, Model.Controller)
}
else
{
    <a>@Model.Text</a>
}