﻿@using LFA.Library.Models
@model MenuItemModel

@{
    var children = ((MenuItemModel[])ViewBag.Menu)
        .Where(m => m.ParentID.HasValue
            && m.ParentID.Value == Model.ItemID)
        .ToArray();
}

@if (children.Length == 0)
{
    <li>
        @Html.Partial("_MenuItem", Model)
    </li>
}
else
{   
    <li class="has-dropdown">
        @Html.Partial("_MenuItem", Model)
        <ul class="dropdown">
            @foreach (MenuItemModel child in children)
            {
                @Html.Partial("_Menu", child)
            }
        </ul>
    </li>
}