﻿/* website size */
@media screen and (min-width: 48.1em) {

    /* Hide device-specific components */
    .hide-phone {
        display: none;
    }
    .hide-tablet {
        display: none;
    }
}

/* tablet size */   
@media screen and (max-width: 48em ) {
    
    /* Hide device-specific components */
    .hide-phone {
        display: none;
    }
    .hide-web {
        display: none;
    }
}   
    
/* smartphone size */
@media screen and (max-width: 36.5em ) {
    
    /* Hide device-specific components */
    .hide-phone {
        display: none;
    }
    .hide-tablet {
        display: none;
    }
}