﻿html,
body {
    height: 100%;
}

.content {
    background-color: #fff;
    padding: 10px;
}

.field-validation-error {
    color: red;
    font-size: .8em;
    position: absolute;
    right: 15px;
    top: 3px;
}

footer {
    border-top: 1px solid #ccc;
    color: #333;
    font-size: .8em;
    padding: 5px;
}

    footer a {
        text-decoration: none;
    }

    footer a:hover {
        text-decoration: underline;
    }

.button {
    border-radius: 6px;
}

div.row > h4 {
    margin-top: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
}

h5,
h6 {
    font-weight: bold;
}
