﻿* {
    font-family: QuickSand;
}

.big {
    font-size: 1.4em;
}

.bigger {
    font-size: 1.8em;
}

.biggest {
    font-size: 2.4em;
}

.normal {
    font-size: 1em;
}

.small {
    font-size: .9em;
}

.smaller {
    font-size: .75em;
}

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

.align-top {
    vertical-align: top;
}

.align-middle {
    vertical-align: middle;
}

.align-bottom {
    vertical-align: bottom;
}

.orange {
    color: #ff6a00;
}

.white {
    color: #fff;
}

.x-small {
    font-size: .8em;
}

.padding-none {
    padding: 0px;
}

.padding-top {
    padding-top: 10px;
}

.padding-top-small {
    padding-top: 5px;
}

.padding-right {
    padding-right: 15px;
}

.padding-bottom {
    padding-bottom: 15px;
}

.padding-left {
    padding-left: 15px;
}

.width-full {
    width: 100%;
}

.padding-none {
    padding: 0px;
}