﻿@model LFA.Library.Models.QuestionModel

@{
    ViewBag.Title = "Contact Us";
}

<div class="row">
    <h2 class="orange">Contact Us</h2>
</div>
<div class="row">
    <p>
        We are always available to answer any questions that you may have. Please
        enter your name, email, and a brief topic with your question. We will respond
        to your question as soon as possible!
    </p>
</div>

@if (ViewBag.ErrorMessage != null) {
    <div class="row alert-box alert">
        @ViewBag.ErrorMessage
    </div>
}

@using (Html.BeginForm()) {
    @Html.HiddenFor(m => m.QuestionID)
    @Html.AntiForgeryToken()

        <div class="row">
            <div class="large-4 columns">
                @Html.LabelFor(m => m.FirstName)
                @Html.ValidationMessageFor(m => m.FirstName)
                @Html.TextBoxFor(m => m.FirstName, new { placeholder = "your first name", @class = "focus", maxlength = 100 })
            </div>
            <div class="large-4 columns">
                @Html.LabelFor(m => m.LastName)
                @Html.ValidationMessageFor(m => m.LastName)
                @Html.TextBoxFor(m => m.LastName, new { placeholder = "your last name", maxlength = 100 })
            </div>
            <div class="large-4 columns">
                @Html.LabelFor(m => m.Email)
                @Html.ValidationMessageFor(m => m.Email)
                @Html.TextBoxFor(m => m.Email, new { placeholder = "your email address", maxlength = 500 })
            </div>
        </div>
        <div class="row">
            <div class="large-4 columns">
                @Html.LabelFor(m => m.Category)
                @Html.ValidationMessageFor(m => m.Category)
                @Html.DropDownListFor(m => m.Category, ViewBag.Categories as IEnumerable<SelectListItem>)
            </div>
            <div class="large-8 columns">
                @Html.LabelFor(m => m.Topic)
                @Html.ValidationMessageFor(m => m.Topic)
                @Html.TextBoxFor(m => m.Topic, new { placeholder = "summary of your question", maxlength = 500 })
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns">
                @Html.LabelFor(m => m.Question)
                @Html.ValidationMessageFor(m => m.Question)
                @Html.TextAreaFor(m => m.Question, new { placeholder = "your question" })
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns">
                <input type="submit" class="button small" value="Send Question" />
            </div>
        </div>
}
