﻿@{
    ViewBag.Title = "Thank You";
}

<div class="row">
    <h2 class="orange">Thank You!</h2>
</div>
<div class="row">
    <p>
        Thank you for submitting your question. We will respond as soon as possible!
    </p>
</div>
