﻿@{
    ViewBag.Title = "FAQs";
}

<div class="row">
    <h2 class="orange">[FPO] FAQs</h2>
</div>

<div class="row">
    <p>
        Lorem ipsum dolor sit amet, meis zril in qui. Erat molestie cum ex, cu vocent reformidans complectitur est. Nihil habemus maiestatis et eum, et pro utinam audire. Ei eum sensibus comprehensam. Ferri saperet appetere sed ad, solum dicat delicatissimi pri ne, mei eu paulo liberavisse. Eu munere vocibus ocurreret nam, ad est decore suavitate elaboraret.
    </p>
</div>
